/* dark mode section */
.bodydark {
    background-color: #323232;
    color: white;
}
.navdark#myNav {
    background: black  !important;
}
.sectiondark {
    background: black !important;
}
.infodark {
    color: white !important;
}
.inputdark {
    background-color: #D9D9D9D9 !important;
}
.textareadark {
    background-color: #D9D9D9D9 !important;
}
.sub-buttondark {
    background-color: #323232 !important;
    border: 2px solid white !important;
}